@import url("https://fonts.googleapis.com/css2?family=Rammetto+One&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rammetto", sans-serif;
}

:root {
  --white-color: #fff;
  --button-correct: #5aae76;
  --button-wrong: #e13e3e;
  --button-hover: #aaa;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  min-height: 100vh;
  background: linear-gradient(135deg, #3b4cca 0%, #ff3535 100%);
  color: var(--white-color);
}
